##Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/.DS_Store/*

#IPython
profile_default/
ipython_config.py

# Datasets
*datasets*

#Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
